@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #0099FF;
  --btn-red: #DC3545;
  --action-btn-color: #0B60B0;
  --badge-color: #d7dbe9;
  --button-hover-color: #5ca1e2;
}

body {
  min-height: 100vh;
  word-break: break-all;
}

body :focus:not(:focus-visible) {
  outline: none;
}

body :focus-visible {
  outline: none;
}

body :focus:not(:focus-within) {
  outline: none;
}

body :focus-within {
  outline: none;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

.form-controls {
  @apply bg-gray-50 border border-brand-color text-gray-900 sm:text-sm hover:shadow hover:bg-gray-100 block w-full p-2;
}

.search-form-controls {
  @apply bg-gray-50 border border-brand-color text-gray-900 text-lg rounded-lg block w-full p-4 hover:shadow hover:bg-gray-100
}

.common-auth-section-class {
  @apply mx-auto lg:w-2/5 md:w-1/2 sm:w-3/5  w-11/12 border md:p-8 p-4 shadow rounded-lg
}

.custom-action-button-class {
  @apply min-w-[100px]
}

.custom-badge-class {
  @apply bg-[var(--badge-color)] px-4 py-2 max-w-fit rounded-full text-black min-w-fit cursor-pointer
}


.select-dropdown {
  border-color: var(--brand-color) !important; 
  border-radius: 0.5rem !important;
  @apply bg-gray-50 border border-red-300 text-gray-900 sm:text-sm rounded-lg block w-full p-4 hover:shadow hover:bg-gray-100 h-8 
}

.select-dropdown:focus-visible {
  outline: none !important;
  border-color: var(--brand-color) !important;
  box-shadow: none !important;
}

.select-dropdown:focus-within {
  outline: none !important;
  border-color: var(--brand-color) !important;
  box-shadow: none !important;
}

.selected-text {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.react-dropdown-select-content {
  @apply text-base 
}

.react-dropdown-select-dropdown {
  width: 100% !important;
}

.nav-link-class {
  @apply py-2 cursor-pointer w-full text-center
}

.btn:hover {
  @apply bg-[var(--button-hover-color)]
}

.common-section {
  @apply lg:px-32 px-12
}

.custom-h2-class {
  @apply text-xl font-bold
}